<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/Navbar :: navbar"></div>
<div class = "container">
    <table class="table">
        <tr>
            <td height = "80"><h3>Balance:</h3> </td>
            <td height = "80"><h3 th:text = "${balance}"></h3></td>
        </tr>
        <th>Transaction Type  </th>
        <th> Amount  </th>
        <th> Reason  </th>
        <div th:each = "trans: ${transactionList}">
            <tr>
                <td th:text = "${trans.amt > 0} ? 'Deposit' : 'Withdraw'">
                </td>
                <td> <span th:text="'$'+${#numbers.formatDecimal(T(Math).abs(trans.amt), 0, 'COMMA', 2, 'POINT')}">10.00</span>
                </td>
                <td th:text = "${trans.reason}">
                </td>
            </tr>
        </div>

    </table>
</div>

</body>
</html>